# Shared
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=sis
POSTGRES_PASSWORD=sis_password
POSTGRES_DB=sis_db
DATABASE_URL=postgresql://sis:sis_password@postgres:5432/sis_db?schema=public

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# API
API_PORT=4000
API_PREFIX=api/v1
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
COOKIE_SECRET=change_me_cookie_secret
CORS_ORIGIN=http://localhost:3000
OAUTH_GOOGLE_CLIENT_ID=replace_me
OAUTH_GOOGLE_CLIENT_SECRET=replace_me
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=no-reply@sis.local
APP_BASE_URL=http://localhost:3000

# Storage
STORAGE_DRIVER=local
STORAGE_BUCKET=sis
S3_ENDPOINT=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SENTRY_DSN=

# Web
NEXT_PUBLIC_APP_NAME=Student Information Centre
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
